name: Pull Request

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install SWI-Prolog
        uses: logtalk-actions/setup-swi-prolog
      - uses: actions/checkout@v3
      - run: make test
